:root{
    --primary: #ffd3f4;
    --bg: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'Poppins' , sans-serif;
    background-color: var(--bg);
    color: #000000;
    min-height: 3000px; 
}

.navbar .navbar-nav a::after{
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.25 linear;
}

.navbar .navbar-nav a:hover::after {
    transform: scaleX(0.5);
}

.navbar .navbar-extra  a {
    color: #97bbe4;
    margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
    color: var(--primary);
}

#hamburger-menu {
    display: none;
}

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 7% ;
    background-color: aliceblue;
    border-bottom: 1px solid #ffc1f0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
}
.navbar .navbar-logo {
    font-size: 2rem;
    font-weight: 700;
    color: #ff78eda9;
    font-style: italic;
}

.navbar .navbar-logo span{
    color: var(--primary);
}

.navbar .navbar-nav a {
    color: #d6a0eb;
    display: inline-block;
    font-size: 1.4rem;
    margin: 0 1rem;
}

.navbar .navbar-nav a:hover {
    color: var (--primary);
}

.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../ramenBaru/barulagi.jpg ');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero ::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 40%;
    background: linear-gradient(0deg, rgba (1, 1, 3, 1) 3%, rgba(116, 137, 182, 0)  25%);
}

.hero .content {
    padding: 1,4rem 7%;
    max-width: 60rem;
}

.hero .content h1{
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
    line-height: 1,2; 
}

.hero .content h1 samp {
    color: var(--primary);
}

.hero /.content p {
    font-size: 1.6rem;
    margin-top: 1rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}


.hero .content .cta {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: #c73a3a;
    background-color: var(--primary);
    border-radius: 0,5rem;
    box-shadow: 1px 1px 1px rgba(1, 1, 3, 0.5);
}

.about, 
.menu {
    padding: 10rem 7% 1.4rem;
}

.about h2, /menu h2{
    text-align: center;
    font-size: 2.6rem;
    margin-bottom: 3rem;
}

.about h2 span,
.menu h2 span {
    color:  var(--primary);
}

.about .row .about-img img {
    width: 100%;
}

.about .row .content {
    flex: 1 1 35rem;
    padding: 0 1rem;
}

.about .row  .content h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.about .row .content p{
    margin-bottom: 0.8rem;
    font-size: 1.3rem;
    font-weight: 100;
    line-height: 1.6;
}

/* Menu Section  */
.menu h2{
    margin-bottom: 1rem;
}
.menu p{
    text-align: center;
    max-width: 30rem;
    margin: auto;
    font-weight: 100;
    line-height: 1.6;
}

/* media quaries */

/* laptop */
@media (max-widht:1366px) {
    html{
        font-size: 75%;
    }
    
}

